<h1>ROOT PAGE WOOOOHOOOO!</h1>

<div id="todolist"/>

<script type="text/javascript" charset="utf-8">

  React.render(React.createElement(window.TodoList), document.getElementById('todolist'));

</script>
