<h1>Create a New Sub</h1>

<form action="<%= subs_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value= "<%= form_authenticity_token %>">

  <label for="title">Title</label>
  <br>
    <input type="string" name="sub[title]" id="title" value="">
    <br>
    <br>
  <label for="description">Description</label>
    <br>
    <textarea name="sub[description]" rows="8" cols="40" id="description"></textarea>
  <br>

  <br>
  <input type="submit" value="Upload Sub">

</form>
  <%= link_to "Back to All Subs", subs_url %>
